server:
  port: 7777

spring:
  datasource:
    url: jdbc:mysql://localhost:3306/mybang_db?serverTimezone=Asia/Seoul&useSSL=false
    username: khweb
    password: khWeb@123
    driver-class-name: com.mysql.cj.jdbc.Driver
    dialect: org.hibernate.dialect.MySQL8Dialect

  jpa:
    open-in-view: false
    database: mysql
    show-sql: true
    generate-ddl: true
    hibernate:
      ddl-auto: create

  servlet:
    multipart:
      max-file-size: 30MB
      max-request-size: 30MB

logging:
  level:
    org:
      hibernate:
        SQL: DEBUG
